@charset "UTF-8";

/* CSS Document */


 

html {
    font-family: slab-serif;
  }
 

li{
    margin-left: 120px;

}



.nav-wrapper{
    background-color:rgb(255, 255, 255);
    padding-bottom: 100px;
 
}



.material-icons{
  color: rgb(0, 0, 0);
}








.page-footer{
    background-color:rgb(0, 0, 0)
}


  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }





  @supports not (aspect-ratio: 1) {
    /* ... implement your fallback here */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
      }
      
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
    
  }
