@charset "UTF-8";

/* CSS Document */



 

html {
    font-family: slab-serif;
  }
 

li{
    margin-left: 120px;

}



.nav-wrapper{
    background-color:rgb(255, 255, 255);
    padding-bottom: 100px;
 
}

.page-footer{
    height: 244px;
    background-color: black;
    margin-top: 1000px;
} 

.material-icons{
  color: rgb(0, 0, 0);
}