@charset "UTF-8";

/* CSS Document */


 

html {
    font-family: slab-serif;
  }
 

li{
    margin-left: 120px;

}



.nav-wrapper{
    background-color:rgb(255, 255, 255);
    padding-bottom: 100px;
 
}



.material-icons{
  color: rgb(0, 0, 0);
}




h1 {
  color: rgb(0, 0, 0);
  margin: 20px 10px 0px;
  padding: 0px 30px 0px 30px;
  text-align: center;
  padding-top: 10px;
}




.page-footer{
    background-color:rgb(0, 0, 0)
}

  .img{
      width: 10%;
  }

  .copyright{
      margin: 20px;
      
    
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }





  @supports not (aspect-ratio: 1) {
    /* ... implement your fallback here */

  }
